<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
    <li class="nav-item"><a class="menu-title" href="admin/admin-dashboard ">Dashboard</a>
      </a>
    </li>
    <li class="nav-item">

      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="" href="pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
          <li class="nav-item"> <a class="" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Roles</span>

      </a>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/listrole">List Role</a></li>
      </ul>
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/addrole">Add Role</a></li>
      </ul>

    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Project</span>
      </a>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/listproject">List Project</a></li>
      </ul>
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/addproject">Add Project</a></li>
      </ul>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/pending-project">Pending Project</a></li>
      </ul>

    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Module</span>
      </a>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/list-module">List Module</a></li>
      </ul>
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/add-module">Add Module</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Task</span>
      </a>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/list-task">List Task</a></li>
      </ul>
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/add-task">Add Task</a></li>
      </ul>

    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>

      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/listuser">List User</a></li>
      </ul>
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="admin/adduser">Add User</a></li>
      </ul>

    </li>
  </ul>
</nav>