<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li style="box-sizing: border-box :">
        <h4>&nbsp;&nbsp;PROJECT MANAGER</h4>
       </li>
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="icon-grid menu-icon"></i>
      <li class="nav-item"><a class="menu-title" href="project-manager/project-manager-dashboard">Dashboard</a>
        </a>
      </li>
      <li class="nav-item">
  
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="" href="pages/ui-features/buttons.html">Buttons</a></li>
            <li class="nav-item"> <a class="" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
            <li class="nav-item"> <a class="" href="pages/ui-features/typography.html">Typography</a></li>
          </ul>
        </div>
     
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Project</span>
        </a>
        
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/list-projects">List Project</a></li>
        </ul>
         
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/completed-projects">Completed Project</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="project-manager/pending-projects">Pending Project</a></li>
          </ul>
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="project-manager/add-projects">Add Project</a></li>
          </ul>
  
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Module</span>
        </a>
  
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/list-modules">List Module</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/add-modules">Add Module</a></li>
        </ul>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Task</span>
        </a>
  
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/list-tasks">List Task</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/add-tasks">Add Task</a></li>
        </ul>
  
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Users</span>
        </a>
  
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/list-users">List User</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/add-users">Add User</a></li>
        </ul>
  
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Reports</span>
        </a>
  
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/modules-report"> Module Report</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="project-manager/tasks-report"> Task Report</a></li>
        </ul>
       
      </li>
    </ul>
  </nav>