<div style="width: 1200px;">
    <div class="card">
        
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles,let i=index">
                       <th scope ="row">{{i+1}}</th>
                    
                        <td>{{role.roleName}}</td>
                         <td><button (click)="editRole(role._id)">Edit</button> | <<button (click)="deleteRole(role._id)">Delete</button>
                </tr>
                   
                    
                </tbody>
            </table>
        </div>
    </div>
</div>